<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Oops!</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<style type="text/css" media="screen">
			#container {margin:100px auto 20px auto;width:620px;text-align:center;}
			#container img {border-radius:40px;height:80px;width:80px;-webkit-filter:grayscale(1);filter:gray;}
			#container h1 {font-size:22pt;color:#999;font-family:'Ruda',sans-serif;}
		</style>
	</head>
	<body>
		<div id="container">
			<a href="/"><img src="/logos/circulus.jpg"/></a>
			<h1>Oops, Something went wrong.</h1>
		</div>
	</body>
</html>