section#archive, section#archive header, section#posts, body>header, body>footer {width:85%;}
article p, article blockquote, article ul li, article ol li {font-size:10pt;line-height:16pt;margin:20px 0px 20px 0px;}
article header div.details {font-size:11pt;}